{% extends "base.html" %}
{% block title %}Train {{bot_name}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {% if ind == True %}
  <h1 class="text-center">Training {{bot.bot_name}} Individually</h1>
  {% else %}
  <h1 class="text-center">Training {{bot.bot_name}} Distributively</h1>
  {% endif %}

<div class="container-fluid">
  <div id="timeDiv">
    <div id="startTime">
    </div>
    <div id="endTime">
    </div>
  </div>
</div>

  {% block train %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/train.js') }}"></script>
  {% endblock %}
  <script>
    run_training_update();
  </script>


{% endblock %}
