body {
    padding-top: 70px;
}

/* Modify the background color of the navigation bar */
.navbar-custom {
    background-color: indigo;
}

/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom a{
    color: white;
}

#brandLogo{
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
